# Snowflake
SNOWFLAKE_ACCOUNT=emc01048.us-east-1
SNOWFLAKE_USER=RECON_USER
SNOWFLAKE_PASSWORD=Recon_wh_loco_22
SNOWFLAKE_DATABASE=RECONCILIATION_DB
SNOWFLAKE_WAREHOUSE=RECON_WH

# AWS
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=us-east-1